.card {
  width: 540px;

  list-style: none;
  margin: 0;
}

.card__title {
  margin: 0 0 32px;
}

.card__list {
  list-style: none;
}

.card__list-items {
  display: flex;
  gap: 10px;
  margin: 0 0 16px;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid #000000;
}
